body{
    background-color: #000000;
    color: coral;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.title{
    width: 856.3px;
    height: 93.367px;         
  }

  hr{
    margin-right: 206px;
margin-left: 7px;
margin-top: -50px;
  }

 .divforimg{
 background-image: url(https://i.pinimg.com/564x/b4/40/31/b44031caed72e04f40cbcd1b2d4ba122.jpg);
 background-size: contain;
 background-repeat: no-repeat;
 height: 100vh;
 width: 51vh;
 display: inline-block;
 }

 .divfortext{
float: right;
height: 100%;
width: 70%;
background-size: contain;
background-color: #000000;
 }

.profile-image{
    background-image: url(https://i.pinimg.com/736x/ae/da/19/aeda196fb4d6f50046115ef7df83e97e.jpg);
    box-shadow: 25px 25px 50px 25px rgb(0, 0, 0) inset, -25px -25px 50px 25px rgb(0, 0, 0) inset;
    height: 302px;
    width: 365px;
    float: right;;
    padding: 29px;
    border-radius: 87px;
}

h1{
    display: inline-block;
    font-size: 57px;
    padding-bottom: 5px;
}

img{
    width: 141px;
height: 98px;
padding-left: 13px;
padding-right: 20px;
margin-right: 19px;
margin-top: -2px;
margin-left: -17px;
margin-bottom: -48px;
}

a {
    text-decoration: none;
    color: hotpink;
  }
  